<!DOCTYPE html>

<style>
.progress-bar
{
	width: <%= @percentage %>%
}
</style>

<div class="container-fluid" id="fluid1" >
	
	<div class="row thankyou text-center">
		<h2>Thank you for joining us!</h2>
	</div>

	<div class="row fir">
	
		<div class="BBdescription col-xs-10 col-sm-10 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-0">
		<p class = "text-center">
			The Bike Buddy is a compact bike protection system with GPS. It hides behind any water bottle cage, and will send you texts the second anyone tampers with your bike. Track your bike around the world, and keep it safe.
		</p>
		</div>
	
		<%= image_tag("crop.png", class: "productimg col-xs-8 col-sm-8 col-md-4 col-lg-2 
		col-xs-offset-2 col-sm-offset-2 col-md-offset-0 col-lg-offset-1") %> 

		<div class="share-wrap col-xs-12 col-sm-12 col-md-4 col-md-offset-0 col-lg-offset-1">
			<p class="why">Don't leave your friends behind</p>
			<p class="title">INVITE FRIENDS &<br>Earn Product</p>
			<p class="subtitle">Share your unique link via email, Facebook,<br>or Twitter and earn rewards for<br>each friend who signs up.</p>
			<div class="copy-link"><%= @reflink %></div>
			<% twitter_message = "#Shaving is evolving. Excited for @harrys to launch." %>
		</div>
	</div>

	<div class="row fir text-center">


		<h2 >Here's how this works:</h2>
		<!--<h2>USER:</h2> <h2><%= @user.email %></h2>--> 
	
	 
<!--
		<% @userrefs.each do |t|%>
		<h2>
			<%= t.email %>
		</h2>
		<%end%>
	-->
</div>	

<div class ="row fir ">
	<div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
	
		<div class = "prizes">
			<div class = "prize" id="descript">
				<p>Referrals:</p>
			</div>
			<div class = "prize" id="first">
				<p>5</p>
			</div>
			<div class = "prize"id="second">
				<p>10</p>
			</div>
			<div class = "prize"id="third">
				<p>25</p>
			</div>
			<div class = "prize" id="fourth">
				<p>50</p>
			</div>
		</div>
		<div class="progress">
			<div class="progress-bar" role="progressbar">
			</div>
			<div></div>

		</div>

		<div class = "prizes">
			<div class = "prize" id="descript">
				<p>Reward:</p>
			</div>
			<div class = "prize" id="first">
				<p>Free month of service</p>
			</div>
			<div class = "prize"id="second">
				<p>Three free months of service</p>
			</div>
			<div class = "prize"id="third">
				<p>Six Free Months of service</p>
			</div>
			<div class = "prize" id="fourth">
				<p>One Year of free service</p>
			</div>
		</div>
			<h3 class = "text-center">REFERRALS: <%= @refcount %></h3> 
	</div>
</div>
</div>
